.text-loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    background:linear-gradient(90deg,#000 50%,#0000 0) right/200% 100%;
    animation: l21 2s infinite linear;
  }
  .text-loader::before {
    content :"Loading...";
    color: #0000;
    padding: 0 5px;
    background: inherit;
    background-image: linear-gradient(90deg,#fff 50%,#000 0);
    -webkit-background-clip:text;
            background-clip:text;
  }
  @keyframes l21{
    100%{background-position: left}
  }

.flip-1-loader {
    width: 40px;
    aspect-ratio: 1;
    animation: 
      l2-1 2s infinite linear,
      l2-2 1s infinite steps(1) alternate;
  }
  @keyframes l2-1 {
    0%   {transform: perspective(150px) rotateX(  0deg)}
    100% {transform: perspective(150px) rotateX(360deg)}
  }
  @keyframes l2-2 {
    0% {background:#ffa516}
    50% {background:#f03355}
  }

.loader {
    width: 20px;
    aspect-ratio: 1;
    animation: 
      l3-1 1s infinite linear,
      l3-2 1.5s infinite steps(1) -.5s;
  }
  @keyframes l3-1 {
    0%   {transform: perspective(150px) rotateX(  0deg) rotateY(0deg)}
    50%  {transform: perspective(150px) rotateX(180deg) rotateY(0deg)}
    100% {transform: perspective(150px) rotateX(180deg) rotateY(180deg)}
  }
  @keyframes l3-2 {
    0%  {background: #ffa516}
    33% {background: #f03355}
    66% {background: #25b09b}
  }

.full-loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    animation: l14 4s infinite;
  }
  .full-loader::before,
  .full-loader::after {    
    content: "";
    grid-area: 1/1;
    border: 8px solid;
    border-radius: 50%;
    border-color: red red #0000 #0000;
    mix-blend-mode: darken;
    animation: l14 1s infinite linear;
  }
  .full-loader::after {
    border-color: #0000 #0000 blue blue;
    animation-direction: reverse;
  }
  @keyframes l14{ 
    100%{transform: rotate(1turn)}
  }